span.Koe{
    font-family:"Papyrus",serif;
    font-size:28px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

div.Koe{
    font-family:"Papyrus",serif;
    font-size:28px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

span.Smart{
    font-family:"Papyrus",serif;
    font-size:22px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

div.Smart{
    font-family:"Papyrus",serif;
    font-size:22px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

span.Fox{
    font-family:"Papyrus",serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

div.Fox{
    font-family:"Papyrus",serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

span.Record{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

div.Record{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

span.Record_2{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:bold;
    font-style:normal;
    text-decoration: underline}

div.Record_2{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:bold;
    font-style:normal;
    text-decoration: none}

span.Record_3{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,102,178);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

div.Record_3{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,102,178);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

span.Record_4{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(205,23,29);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

div.Record_4{
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(205,23,29);
    font-weight:normal;
    font-style:normal;
    text-decoration: none}

span.Record_5{
    border: 25px solid grey; 
    background-color: grey;
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:bold;
    font-style:normal;
    text-decoration: none}

div.Record_5{
    border: 25px solid grey; 
    background-color: grey;
    font-family:Arial,serif;
    font-size:16px;
    color:rgb(0,0,0);
    font-weight:bold;
    font-style:normal;
    text-decoration: none}
